.header-bottom {
  -webkit-box-shadow: 0 2px 5px #aaa;
  box-shadow: 0 2px 5px #aaa;
  background-color: white;
  font-weight: 600; }

.brand-name {
  font-size: 30px !important;
  font-family: 'BreeSerif-Regular' !important; }

.skyblue > li:hover > a {
  color: #17a2b8; }

.search-form {
  -webkit-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  transform: translateY(-40px); }
  @media (max-width: 768px) {
    .search-form {
      opacity: 0; } }
  @media (max-width: 992px) {
    .search-form {
      -webkit-transform: translate(15px, -40px);
      -ms-transform: translate(15px, -40px);
      transform: translate(15px, -40px); } }

@media (max-width: 992px) {
  .header {
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px); } }

.memenu > li > a {
  padding: 0 15px;
  margin: 0 10px; }
  @media (max-width: 992px) {
    .memenu > li > a {
      padding-right: 25px; } }

.grid {
  border: 2px solid white; }
  .grid:hover {
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    border: 2px solid #17a2b8;
    border-radius: 20%; }
